<% @interview.errors.each do |error|%>
  <%= error%>
<% end %>
<%= form_for @interview do |f| %>
  <%= f.label :start_time %><br>
  <%= f.datetime_select :start_time %><br>
  <br>
  <%= f.label :end_time %><br>
  <%= f.datetime_select :end_time %>
  <br>
  <label for="participants">Participants(id's seperated by ,)</label>
  <br>
  <input id="participants" name="participants" type="text" /><br />
  <br>
  <%=f.submit%>
<% end %>