<% if admin_signed_in? %>
<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Interview Biter</h1>
		<p class="lead text-muted">The site will help us take interviews the better way  </p>
		<p>
			<a href="<%= new_interview_url()%>" class="btn btn-secondary my-2">New Interview</a>
		</p>
	</div>
</section>
<div class="album py-5 px-5 bg-light">
	<div class="container">
		<div class="row">
			<%@interviews = Interview.order("start_time").all()%>
			<% @interviews.each do |interview|%>
			<%if interview.start_time != nil%>
			<div class="col-sm-4">
				<div class="card mb-4 shadow-sm">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href = '<%=interview_path(interview.id)%>'"><%=interview.id%></button>
							</div>
							<small class="text-muted"><%= interview.start_time.to_formatted_s(:long_ordinal)%> to <%= interview.end_time.to_formatted_s(:long_ordinal)%></small>
						</div>
					</div>
				</div>
			</div>

			<% end %>
			<% end %>
		</div>
	</div>
</div>
<%end%>